body {
	background-image: url(https://images.pexels.com/photos/983297/pexels-photo-983297.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	background-color: linen;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	overflow: auto;
	background-attachment: fixed;
	color: rgb(26, 26, 88);
}

h1 {
	margin-bottom: 100px;
	color: rgb(92, 51, 12);
	text-align: center;
	font-size: 50px;
}

.change-devoured {
	margin-top: 5px;
	margin-bottom: 5px;
}
